# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
python-dotenv
azure.cosmos
pydantic
rapidfuzz
langchain
langchain_openai
langgraph
